.new-book-form-container {
  display: flex;
  justify-content: center;
}

.new-book-form {
  width: 100%;
  max-width: 30vw;
}

.fieldset {
  border-width: 2px;
  border-style: groove;
  border-color: #c0c0c0;
  border-image: initial;
  padding: 1rem;
}

.fieldset legend {
  border: 1px solid;
  padding: 0 .5rem;
}
